@{
    ViewBag.Title = "Home Page";
}
<!-- REVOLUTION SLIDER
	============================================= -->
<div class="fullwidthbanner-container top-shadow">
    <div class="fullwidthbanner">
        <ul>
            <!-- Slide 1 -->
            <li data-masterspeed="300" data-slotamount="2" data-transition="fade">
                <!-- Main Image -->
                <img alt="" src="../../Content/img/slider/Slider-8.jpg">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="540" data-y="39">
                    <img alt="" src="../../Content/img/slider/coffee.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutBack" data-speed="300" data-start="1500" data-x="730" data-y="110">
                    <img alt="" src="../../Content/img/slider/coffee-thumb-up.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutBack" data-speed="700" data-start="800" data-x="460" data-y="210">
                    <img alt="" src="../../Content/img/slider/spoon.png">
                </div>
                <div class="tp-caption m-3-2em m-text-black m-semibold sft" data-easing="easeOutExpo" data-speed="700" data-start="1400" data-x="40" data-y="130">
                    <span>Corporis Suscipit Ratione</span>
                </div>
                <div class="tp-caption m-1-8em m-text-black sfr" data-easing="easeOutExpo" data-speed="700" data-start="1600" data-x="40" data-y="185">
                    <span>Animate Anything You Want!</span>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1700" data-x="40" data-y="233">
                    <a class="btn" href="#">Read More</a>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1800" data-x="165" data-y="233">
                    <a class="btn colored" href="#">Get Started</a>
                </div>
                <!-- End Captions -->
            </li>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <li data-masterspeed="300" data-slotamount="3" data-transition="fade">
                <!-- Main Image -->
                <img alt="" src="../../Content/img/slider/Slider-8.jpg">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="640" data-y="9">
                    <img alt="" src="../../Content/img/slider/women.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="700" data-start="900" data-x="369" data-y="327">
                    <img alt="" src="../../Content/img/slider/graph-2.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="700" data-start="1000" data-x="433" data-y="298">
                    <img alt="" src="../../Content/img/slider/graph-3.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="700" data-start="1100" data-x="511" data-y="261">
                    <img alt="" src="../../Content/img/slider/graph-4.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="700" data-start="1200" data-x="579" data-y="236">
                    <img alt="" src="../../Content/img/slider/graph-5.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="700" data-start="1300" data-x="651" data-y="197">
                    <img alt="" src="../../Content/img/slider/graph-6.png">
                </div>
                <div class="tp-caption sfb" data-easing="easeOutExpo" data-speed="1700" data-start="1700" data-x="360" data-y="24">
                    <img alt="" src="../../Content/img/slider/graph-7.png">
                </div>
                <div class="tp-caption fade" data-easing="easeOutExpo" data-speed="700" data-start="800" data-x="369" data-y="387">
                    <img alt="" src="../../Content/img/slider/graph-1.jpg">
                </div>
                <div class="tp-caption m-3-2em m-text-black m-semibold sft" data-easing="easeOutExpo" data-speed="700" data-start="1400" data-x="40" data-y="130">
                    <span>Vitae Dicta Suscipit</span>
                </div>
                <div class="tp-caption m-1-8em m-text-black sfr" data-easing="easeOutExpo" data-speed="700" data-start="1600" data-x="40" data-y="185">
                    <span>Animate Anything You Want!</span>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1700" data-x="40" data-y="233">
                    <a class="btn" href="#">Read More</a>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1800" data-x="165" data-y="233">
                    <a class="btn colored" href="#">Get Started</a>
                </div>
                <!-- End Captions -->
            </li>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <li data-masterspeed="300" data-slotamount="4" data-transition="fade">
                <!-- Main Image -->
                <img alt="" src="../../Content/img/slider/Slider-8.jpg">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="670" data-y="34">
                    <img alt="" src="../../Content/img/slider/men.png">
                </div>
                <div class="tp-caption fade" data-easing="easeOutExpo" data-speed="700" data-start="1300" data-x="670" data-y="34">
                    <img alt="" src="../../Content/img/slider/men-2.png">
                </div>
                <div class="tp-caption sft" data-easing="easeInOutBack" data-speed="700" data-start="900" data-x="526" data-y="23">
                    <img alt="" src="../../Content/img/slider/lightbulb.png">
                </div>
                <div class="tp-caption fade" data-easing="easeOutExpo" data-speed="700" data-start="1300" data-x="526" data-y="23">
                    <img alt="" src="../../Content/img/slider/lightbulb-2.png">
                </div>
                <div class="tp-caption m-3-2em m-text-black m-semibold sft" data-easing="easeOutExpo" data-speed="700" data-start="1400" data-x="40" data-y="130">
                    <span>Architecto Velit Beatae</span>
                </div>
                <div class="tp-caption m-1-8em m-text-black sfr" data-easing="easeOutExpo" data-speed="700" data-start="1600" data-x="40" data-y="185">
                    <span>Animate Anything You Want!</span>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1700" data-x="40" data-y="233">
                    <a class="btn" href="#">Read More</a>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1800" data-x="165" data-y="233">
                    <a class="btn colored" href="#">Get Started</a>
                </div>
                <!-- End Captions -->
            </li>
            <!-- End Slide 3 -->
            <!-- Slide 4 -->
            <li data-masterspeed="300" data-slotamount="1" data-transition="fade">
                <!-- Main Image -->
                <img alt="" src="../../Content/img/slider/Slider-8.jpg">
                <!-- End Main Image -->
                <!-- Captions -->
                <div class="tp-caption m-3-2em m-text-black m-semibold sft" data-easing="easeOutExpo" data-speed="700" data-start="1400" data-x="40" data-y="130">
                    <span>Tempora Incidunt</span>
                </div>
                <div class="tp-caption m-1-8em m-text-black sfr" data-easing="easeOutExpo" data-speed="700" data-start="1600" data-x="40" data-y="185">
                    <span>Animate Anything You Want!</span>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1800" data-x="40" data-y="233">
                    <a class="btn" href="#">Read More</a>
                </div>
                <div class="tp-caption sfb" data-easing="easeInOutExpo" data-speed="700" data-start="1900" data-x="165" data-y="233">
                    <a class="btn colored" href="#">Get Started</a>
                </div>
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="533" data-y="18">
                    <img alt="" src="../../Content/img/slider/imac.png">
                </div>
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="800" data-x="703" data-y="152">
                    <img alt="" src="../../Content/img/slider/macbook.png">
                </div>
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="1000" data-x="473" data-y="172">
                    <img alt="" src="../../Content/img/slider/ipad.png">
                </div>
                <div class="tp-caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="1200" data-x="616" data-y="258">
                    <img alt="" src="../../Content/img/slider/iphone.png">
                </div>
                <!-- End Captions -->
            </li>
            <!-- End Slide 4 -->
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER
	============================================= -->

<!-- FEATURED CONTENT
	============================================= -->
<div class="content-featured">
    <div class="layout">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium... <a href="#">More<i class="icon-chevron-sign-right" style="margin: 0 0 0 7px;"></i></a>
        </p>
    </div>
</div>
<!-- END FEATURED CONTENT
	============================================= -->

<!-- CONTENT 
	============================================= -->
<div class="content shortcodes gray-content" style="padding-bottom: 10px;">
    <div class="layout" style="padding-bottom: 1px;">
        <div class="row">
            <div class="row-item col-1_3">
                <!-- Icon Box -->
                <div class="icon-box medium" style="margin-bottom: 25px;">
                    <i class="icon-html5 medium light"></i>
                    <h4><a href="#" class="dark-link">Exerci Tation Ullamcorper</a></h4>
                    <p>
                        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem.
                    </p>
                    <p><a href="#" class="btn colored" style="margin-bottom: 0;">About Us</a></p>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row-item col-1_3">
                <!-- Icon Box -->
                <div class="icon-box medium" style="margin-bottom: 25px;">
                    <i class="icon-css3 medium light"></i>
                    <h4><a href="#" class="dark-link">Duis Autem Vel Eum</a></h4>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt.
                    </p>
                    <p><a href="#" class="btn colored" style="margin-bottom: 0;">Services</a></p>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row-item col-1_3">
                <!-- Icon Box -->
                <div class="icon-box medium" style="margin-bottom: 25px;">
                    <i class="icon-magic medium light"></i>
                    <h4><a href="#" class="dark-link">Qui Blandit Praesent</a></h4>
                    <p>
                        Vel eum iure reprehenderit, qui in ea voluptate velit esse quam.
                    </p>
                    <p><a href="#" class="btn colored" style="margin-bottom: 0;">Our Work</a></p>
                </div>
                <!-- End Icon Box -->
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="layout">
        <h3 class="lined margin-20">Recent Work</h3>
        <div class="row port b-works">
            <div class="row-item col-1_3 identity photography tehnology">
                <div class="work">
                    <a href="/" class="work-image">
                        <img src="../../Content/img/port/smiling.jpg" alt="">
                        <div class="link-overlay icon-chevron-right"></div>
                    </a>
                    <a href="#" class="work-name">Smiling</a>
                    <div class="tags">
                        Photography, Tehnology
                    </div>
                </div>
            </div>
            <div class="row-item col-1_3 photography webdesign">
                <div class="work">
                    <a href="/" rel="prettyPhoto" class="work-image">
                        <img src="../../Content/img/port/surfer.jpg" alt="">
                        <div class="link-overlay icon-search"></div>
                    </a>
                    <a href="#" class="work-name">Surfer</a>
                    <div class="tags">
                        Photography, Webdesign
                    </div>
                </div>
            </div>
            <div class="row-item col-1_3 identity">
                <div class="work">
                    <a href="/" rel="prettyPhoto" class="work-image">
                        <img src="../../Content/img/port/architecture.jpg" alt="">
                        <div class="link-overlay icon-play"></div>
                    </a>
                    <a href="#" class="work-name">Architecture</a>
                    <div class="tags">
                        Identity
                    </div>
                </div>
            </div>
        </div>

        <div class="gap" style="height: 10px;"></div>

        <div class="row">
            <div class="row-item col-1_2">
                <h3 class="lined margin-20">Duis Autem Vel Eum</h3>
                <div class="b-tabs">
                    <ul class="tabs-nav">
                        <li class="active"><span><i class="icon-thumbs-up"></i>Company</span></li>
                        <li><span><i class="icon-money"></i>Careers</span></li>
                        <li><span><i class="icon-bullhorn"></i>Blogs</span></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab active">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mauris, aliquam vel interdum in, faucibus non libero. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </p>
                        </div>
                        <div class="tab">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mauris, aliquam vel interdum in, faucibus non libero. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </p>
                        </div>
                        <div class="tab">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mauris, aliquam vel interdum in, faucibus non libero. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="gap" style="height: 20px;"></div>
            </div>
            <div class="row-item col-1_2">
                <h3 class="lined margin-20">Voluptate velit esse</h3>
                <ul class="b-list iconok m-circle">
                    <li>Asunt in anim uis aute irure dolor in reprehenderit</li>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in anim</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Irure dolor in reprehenderit in voluptate velit esse cillum</li>
                    <li>Tempora incidunt, ut labore et dolore occaecat cupidatat non proident</li>
                    <li>Asunt in anim uis aute irure dolor in reprehenderit</li>
                </ul>
                <div class="gap" style="height: 20px;"></div>
            </div>
        </div>

        <div class="gap" style="height: 10px;"></div>

        <!-- Promo Box -->
        <div class="b-promo margin-30">
            <a href="#" class="btn big colored">Buy Now!</a>
            <h3>Reprehenderit In Voluptate Velit Esse</h3>
            In anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </div>
        <!-- End Promo Box -->

        <div class="gap" style="height: 10px;"></div>

        <h3 class="lined margin-20">Our Clients</h3>
        <div class="b-clients" style="margin-bottom: 10px;">
            <div class="client tooltips">
                <div class="tooltips-data">
                    Sed ut perspiciatis
                </div>
                <a href="#">
                    <img src="../../Content/img/elements/logo-1.jpg" alt=""></a>
            </div>
            <div class="client tooltips">
                <div class="tooltips-data">
                    Unde omnis iste natus
                </div>
                <a href="#">
                    <img src="../../Content/img/elements/logo-2.jpg" alt=""></a>
            </div>
            <div class="client tooltips">
                <div class="tooltips-data">
                    Quae ab illo inventore
                </div>
                <a href="#">
                    <img src="../../Content/img/elements/logo-3.jpg" alt=""></a>
            </div>
            <div class="client tooltips">
                <div class="tooltips-data">
                    Nisi ut aliquid ex ea
                </div>
                <a href="#">
                    <img src="../../Content/img/elements/logo-4.jpg" alt=""></a>
            </div>
            <div class="client tooltips">
                <div class="tooltips-data">
                    Quo voluptas nulla
                </div>
                <a href="#">
                    <img src="../../Content/img/elements/logo-5.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT 
	============================================= -->
