@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 Error Page";
}
<div class="b-titlebar">
    <div class="layout">
        <!-- Bread Crumbs -->
        <ul class="crumbs">
            <li>You are here:</li>
            <li><a href="/">Home</a></li>
            <li><a>404 Error Page</a></li>
        </ul>
        <!-- Title -->
        <h1>404 Error Page</h1>
    </div>
</div>
<div class="content shortcodes">
    <div class="layout">
        <h2 class="centered error-404">404</h2>
        <p class="centered p-20" style="margin-bottom: 25px;">Error 404! Sorry, the page you requested was not found.</p>
        <p class="centered"><a href="/" class="btn big colored"><i class="icon-circle-arrow-left"></i>Back to Home</a></p>
    </div>
</div>
