@if (Request.IsAuthenticated)
{
    <div style="float: left; font-size: 15px; margin-right: 10px;">@Html.ActionLink(User.Identity.Name, "Manage", "Customer", null, null)</div>
    <div style="float: right; font-size: 15px; margin-left: 10px;">
        @using (Html.BeginForm("LogOff", "Customer", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }

    </div>
}
else
{
    <div style="float: left; font-size: 15px; margin-right: 10px;">@Html.ActionLink("Login", "Login", "Customer", null, null)</div>
    <div style="float: right; font-size: 15px; margin-left: 10px;">@Html.ActionLink("Register", "Register", "Customer", null, null)</div>
}
