@{//model Insurance.Models.Claim
  
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("create", "Claim",
                       FormMethod.Post, new { @class = "form-horizontal form-validate" }))
{
    <div class="control-group">
        <label for="AccidentPlace" class="control-label">AccidentPlace <small>minlength: 3</small></label>
        <div class="controls">
            <input type="text" placeholder="At least 3 characters" name="AccidentPlace" id="AccidentPlace" data-rule-minlength="3" data-rule-required="true">
        </div>
    </div>
    <div class="control-group">
        <label for="AccidentDate" class="control-label">AccidentDate <small>YYYY-MM-DD</small></label>
        <div class="controls">
            <input type="text" placeholder="Only numbers" name="AccidentDate" id="AccidentDate" data-rule-dateiso="true" data-rule-required="true">
        </div>
    </div>
    <div class="control-group">
        <label for="InsuredAmount" class="control-label">InsuredAmount</label>
        <div class="controls">
            <input type="text" placeholder="Only numbers" name="InsuredAmount" id="InsuredAmount" data-rule-number="true" data-rule-required="true">
        </div>
    </div>
    <div class="control-group">
        <label for="ClaimableAmount" class="control-label">ClaimableAmount</label>
        <div class="controls">
            <input type="text" placeholder="Only numbers" name="ClaimableAmount" id="ClaimableAmount" data-rule-number="true" data-rule-required="true">
        </div>
    </div>
    <div class="control-group">
        <label for="CustPolicyId" class="control-label">CustPolicyId</label>
        <div class="controls">
            <input type="text" placeholder="Only digits" name="CustPolicyId" id="CustPolicyId" data-rule-digits="true" data-rule-required="true">
        </div>
    </div>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" class="btn">Cancel</button>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
